<html>
    <head>
        <title>Mudlet repository listing</title>
    </head>
    <body>
        {% if not loggedIn %}
        To upload new packages or manage your packages, please <a href="{{ path("login") }}">log in</a> or <a href="{{ path("register") }}">register</a>.<br/>
        {% else %}
        Hi, {{ user }}. You can <a href="{{ path("administer") }}">administer you packages</a> or <a href="{{ path("private_logout") }}">logout</a>
        {% endif %}
        <br/>
        <table>
            <tr><td>Package name</td><td>Version</td><td>Description</td><td>Author</td></tr>
            {% for package in packages %}
                <tr>
                    <td>{{ package.Name }}</td>
                    <td>{{ package.Version }}</td>
                    <td>{{ package.Description }}</td>
                    <td>{{ package.Author }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>